<div class="about-me-card">
	<div class="title">
		<a href="/author/melodie">About Me</a>
	</div>
	<div class="row valign-wrapper">
		<div class="col s4 m5 l5">
			<a href="/author/melodie"><img src="{{@blog.cover}}" class="z-depth-3 circle responsive-img"></a>
		</div>
		<div class="col s8 m7 l7">
			<p>Silicon Valley engineer who quit her job to rock climb, quilt, spend 9 months roadtripping in a van, learn DIY house projects, and recover from 2 ACL reconstruction surgeries. </p>
			<span class="my-story"><a href="/author/melodie">My Story</a></span>
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12 l12 center-align social-icons-row">
		    <a href="https://www.instagram.com/patchworkandpebbles/" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'Instagram - Card');"><img class="social-icon" alt="instagram" src="{{asset "/svg/instagram.svg"}}">&nbsp;</a>

		    <a href="https://www.linkedin.com/in/melodie-meigs" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'LinkedIn - Card');"><img class="social-icon" alt="linkedin" src="{{asset "/svg/linkedin.svg"}}">&nbsp;</a>

		    <a href="mailto:patchworkandpebbles@gmail.com" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'Email - Card');"><img class="social-icon" alt="email" src="{{asset "/svg/email.svg"}}">&nbsp;</a>

		    <a href="http://youtube.com/eidolem7" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'YouTube - Card');"><img class="social-icon" alt="youtube" src="{{asset "/svg/youtube.svg"}}">&nbsp;</a>
		</div>
		<p class="about-me-name">Melodie Meigs - patchworkandpebbles@gmail.com</p>
	</div>
    {{!-- <p class="about-me-email">patchworkandpebbles@gmail.com</p> --}}

</div>