
{{!-- Creates a card with all contact info --}}


<div class="contact-card card z-depth-2">
    <div class="card-content">
        <span class="card-title">Melodie Meigs</span>
        <div class="divider"></div>
        <p>
            <div>
                <a href="mailto:patchworkandpebbles@gmail.com" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'Email - Contact Card');">
                    <img alt="email" src="{{asset "/svg/email.svg"}}">&nbsp;
                    patchworkandpebbles@gmail.com
                </a>
            </div>

            <div>
                <a href="https://www.linkedin.com/in/melodie-meigs" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'LinkedIn - Contact Card');">
                    <img alt="linkedin" src="{{asset "/svg/linkedin.svg"}}">&nbsp;
                    linkedin
                </a>
            </div>

            <div>
                <a href="https://www.instagram.com/patchworkandpebbles/" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'Instagram - Contact Card');">
                    <img alt="instagram" src="{{asset "/svg/instagram.svg"}}">&nbsp;
                    instagram: @patchworkandpebbles
                </a>
            </div>

            <div>
                <a href="http://youtube.com/eidolem7" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'YouTube - Contact Card');">
                    <img alt="youtube" src="{{asset "/svg/youtube.svg"}}">&nbsp;
                    YouTube channel
                </a>
            </div>

            <div>
                <a href="https://docs.google.com/spreadsheet/ccc?key=0AsetXm9vClvJdGg3VkNBYVcxV1JZcUJNVWVSR3EzNmc&usp=drive_web&authkey=CIjatu0M&authkey=CIjatu0M" target="_blank" onclick="ga('send', 'event', 'Social Connect', 'click', 'Tick List - Contact Card');">
                    <img alt="mountain" src="{{asset "/svg/mountain.svg"}}">&nbsp;
                    climbing ticklist
                </a>
            </div>

        </p>
    </div>
</div>