<footer id="page-footer" class="page-footer">
  	<div class="container">
    	<div class="row">
      		<div class="col valign s4 offset-s4 m2 offset-m3">
        		<img src="{{@blog.logo}}" class="z-depth-3 circle responsive-img">
      		</div>
      		<div class="center-align col s12 m5">
      			<p class="footer-name grey-text text-lighten-3">Melodie Meigs</p>
      			<p class="footer-find-me-on grey-text text-lighten-3">find me on</p>
                <img class="share-post-icon" src="{{asset "/svg/instagram.svg"}}">&nbsp;
                <img class="share-post-icon" src="{{asset "/svg/linkedin.svg"}}">&nbsp;
                <img class="share-post-icon" src="{{asset "/svg/facebook.svg"}}">&nbsp;
                <img class="share-post-icon" src="{{asset "/svg/email.svg"}}">&nbsp;
                <img class="share-post-icon" src="{{asset "/svg/youtube.svg"}}">&nbsp;
                <img class="share-post-icon" src="{{asset "/svg/google_plus.svg"}}">
      		</div>
    </div>

    {{!-- Need this /div so the copyright line is full-width outside the container --}}
	</div>
 	<div class="footer-copyright">
	    <div class="container">
	    	<a class="left grey-text text-lighten-1" href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
	    	<div class="right grey-text text-lighten-1">Published with <a class="grey-text text-lighten-1" href="https://ghost.org">Ghost</a> and <a class="grey-text text-lighten-1" href="http://materializecss.com/">Materialize</a></div>
	    </div>
	</div>
</footer>
