
{{!-- The title "the Latest" --}}
<h2 class="tag-slider-title"> 
    <a href="{{url absolute=true}}/tag/{{tag}}/">
        <span class="italicized-words-spaced">the </span>latest
    </a> 
</h2>

<div class="row">
    {{#get "posts" order="published_at desc" limit=1}}
        {{#posts}}
            <div class="column column-block">
                <a href="{{url}}">
                    <article class="latest-post">
                        <img src="{{image}}" style="height:100%; width:100%"/>
                    </article>
                </a>
            </div>
        {{/posts}}
    {{/get}}
</div>

{{!-- For the text "more like this" --}}
<h3 class="tag-slider-footer"> 
    <a href="{{url absolute=true}}/tag/{{tag}}/">
        <span class="italicized-words">more like this </span>
    </a>
</h3>

{{!-- Divider --}}
<div class="divider">
</div>