
{{!-- Do this if in the index context (homepage) --}}
{{#is "index"}}

{{!-- The most recent post, which has different styling --}}
<article class="tag-list-slider">
    <header class="tag-list-header">
        <h2 class="tag-title"> 
            <span class="italicized-words">the </a></span>Latest </h2>
    </header>
    {{#get "posts" order="published_at desc" limit=1}}
        {{#posts}}
            <a href="{{url}}">
            <article class="post-index-latest" style="background-image: url({{image}}">
                <header class="post-header">
                    <h2 class="post-title-latest">{{title}}</h2>
                </header>
            </article>
            </a>
        {{/posts}}
    {{/get}}
</article>

{{> "tag-posts" tag="travel"}}
{{> "tag-posts" tag="sewing"}}
{{> "tag-posts" tag="travel"}}

{{/is}}
{{!-- End of the index context --}}


{{!-- Do this only if in the tag context to view all posts of that tag --}}
{{#is "tag"}}
<article class="tag-list-slider">
    {{#get "posts" filter="tag:travel" limit=8}}
        {{#foreach posts}}
            <a href="{{url}}">
            <article class="{{post_class}} {{#is "tag"}}post-index{{/is}}" style="background-image: url({{image}}" href="{{url}}">
                <header class="post-header">
                    <h2 class="post-title">{{title}}</h2>
                </header>
            </article>
            </a>
        {{/foreach}}
    <h3 class="italicized-words"> put pagination here</h3>
    {{/get}}
</article>
{{/is}}