
{{!-- Do this if in the index context (homepage) --}}
{{#is "index"}}

    <div class="tag-slider row">
        <h2 class="tag-slider-title column"> 
            <a href="http://localhost:2368/tag/{{tag}}/">
                <span class="italicized-words">on </span>{{tag}}
            </a> 
        </h2>
    </div>

    <div class="tag-slider-posts row small-up-2 medium-up-4">
    {{#get "posts" filter="tag:{{tag}}" limit=4}}
        {{#foreach posts}}
            <div class="column column-block">
                <a href="{{url}}">
                    <article class="{{post_class}} square-post">
                    <img src="{{image}}" style="height:100%; width:100%"/>
                    <h2 class="post-title">{{title}}</h2>
                </article>
                </a>
            </div>
        {{/foreach}}
    {{/get}}
    </div>

    <div class="tag-slider-footer row"> 
        <h3 class="column">
            <a href="http://localhost:2368/tag/{{tag}}/">
                <span class="italicized-words">more like this </span>
            </a>
        </h3>
    </div>

   <div class="row">
        <div class="column">
            <div class="divider">
            </div>
        </div>
    </div> 

{{/is}}
{{!-- End of the index context --}}