
{{!-- This is a fixed navbar for large screens only.  Navbar remains fixed at top. hide-on-med-and-down--}}
<div class="navbar-fixed hide-on-med-and-down">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Patchwork & Pebbles</a>
            <a href="/" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Search</a></li>
            </ul>
            
        </div>
        <div class="nav-content">
            <ul class="my-tabs row">
                {{#foreach navigation}}
                    <li class="my-tab subheader-items" id="{{slug}}"><a target="_self" href="{{url}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
        </div>
    </nav>
</div>

{{!-- This is the same as above, only navbar isn't fixed, so it scrolls away on med and small screens --}}
<div class="hide-on-large-only">

    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Patchwork & Pebbles</a>
            <a href="/" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons left">search</i>Search</a></li>
            </ul>
            
        </div>
        <div class="nav-content hide-on-med-and-down">
            <ul class="my-tabs row">
                {{#foreach navigation}}
                    <li class="my-tab subheader-items" id="{{slug}}"><a target="_self" href="{{url}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
        </div>
    </nav>

</div>

{{!-- Sidebar for med and small screens --}}
<ul id="slide-out" class="side-nav">
    <li class="side-nav-title"><a href="/">{{@blog.title}}</a></li>
    <div class="divider"></div>
    <li><a href="/" class="waves-effect">Home</a></li>
    <li><a>Categories</a></li>
    {{#foreach navigation}}
        <li class="subheader-items"><a href="{{url}}" class="waves-effect">{{label}}</a></li>
    {{/foreach}}   
    <li><a href="/about-me" class="waves-effect">About Me</a></li>
    <li><a href="/about-me/#contact-card" class="waves-effect">Contact</a></li>
</ul>


<script>
    var path = location.pathname
    $('.my-tab > a').each(function() {
        if ($(this).attr('href') == path) {
            $(this).addClass('active');
        }
    });
</script>