

<nav class="site-header">
    <span class="icon" style="font-size:20px;cursor:pointer" onclick="openNav()">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </span>
    <ul>
        <li><a href="/" class="title">Patchwork&nbsp;&amp;&nbsp;Pebbles</a></li>
        <li class="right-menu-items">
            <ul>
                <li class="dropdown"><a>CATEGORIES<i class="material-icons">keyboard_arrow_down</i></a>
                    <ul class="dropdown-content">  
                        {{#foreach navigation}}
                            <li><a data-state="{{slug}}" target="_self" href="{{url}}">{{label}}</a></li>
                        {{/foreach}}
                    </ul>
                </li>
                <li><a href="/author/melodie">ABOUT</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="">CATEGORIES</a></li>
        <li>
            <ul>
                {{#foreach navigation}}
                    <li><a href="{{url}}">{{label}}</a></li>
                {{/foreach}}
            </ul>
        </li>
        <li><a href="/author/melodie">ABOUT ME</a></li>
        <li><a href="/author/melodie/#contact-me">CONTACTS</a></li>
    </ul>
</nav>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "325px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>