
{{!-- This is a fixed navbar for large screens only.  Navbar remains fixed at top. hide-on-med-and-down--}}
<div class="navbar-fixed hide-on-med-and-down">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand">Patchwork & Pebbles</a>
            <ul class="menu-items">
                <div class="dropdown">
                    <button class="dropbtn">Categories<i class="material-icons">keyboard_arrow_down</i></a></button>
                    <div class="dropdown-content">
                        {{#foreach navigation}}
                            <a data-state="{{slug}}" target="_self" href="{{url}}">{{label}}</a>
                        {{/foreach}}
                    </div>
                </div>
                <a href="/author/melodie">About</a>
            </ul>
        </div>
    </nav>
</div>

{{!-- For Small and Med screens: no tabs row, and navbar isn't fixed so it scrolls away on med and small screens --}}
<div class="hide-on-large-only navbar-fixed" id="nav-small-med">
    <nav>
        <div class="nav-wrapper nav-small-med">
            <a href="/" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="/" class="brand">Patchwork & Pebbles</a>
        </div>
    </nav>
</div>

{{!-- Sidebar for med and small screens --}}
<ul id="slide-out" class="side-nav">
    <li class="side-nav-title"><a href="/">{{@blog.title}}</a></li>
    <div class="divider"></div>
    <li><a href="/" class="waves-effect">Home</a></li>
    <li><a>Categories</a></li>
    {{#foreach navigation}}
        <li class="subheader-items"><a href="{{url}}" class="waves-effect">{{label}}</a></li>
    {{/foreach}}   
    <li><a href="/author/melodie" class="waves-effect">About Me</a></li>
    <li><a href="/author/melodie/#contact-me" class="waves-effect">Contact</a></li>
</ul>


{{!-- Adds a class to make the colored underline if the URL of the page matches the link on the element --}}
<script>
    var path = location.pathname;
    $('.my-tab > a').each(function(i, tab) {
        if ($(tab).attr('href') == path) {
            $(tab).addClass('active');
        }
    });
</script>