
<article class="card">
    <a href={{url}}>
        {{#if image}}
            <div class="card-image" style="background-image: url({{image}})"></div>
        {{/if}}

        <div class="card-content">
            <header>
                {{#is "index"}}
                    <section class="card-tag">
                        {{#foreach tags}}
                            {{#if @last}}
                                <p data-state="{{slug}}">{{name}}</p>
                            {{else}}
                                <p data-state="{{slug}}">{{name}}, </p>
                            {{/if}}
                        {{/foreach}}
                    </section>
                {{/is}}

                <h1 class="card-title">
                    {{title}}
                </h1>
            </header>

            <section class="card-excerpt">
                <p>{{meta_description}}</p>
            </section>
        </div>
    </a>
</article>