<div class="related-posts-wide">
    <div class="title-bar row">
        {{#foreach tags limit="1"}}
            <a href="{{url}}">
                <div class="title col m6 l6">Related Articles</div>
                <div class="more col m6 l6 right-align">
                    <i class="material-icons">arrow_forward</i>
                    <span class="more-text"> more articles</span>
                </div>
            </a>
        {{/foreach}}
    </div>
        
    <div class="row">
        <div class="post-listing">
            {{#get "posts" filter="tags:[{{tags[*].slug}}]+id:-{{id}}" limit="3" }}
                <div class="posts-row row">
                    {{#foreach posts}}
                        <a href="{{url}}" class="post col m2 l2">
                            <div class="image" style="background-image: url({{image}})"></div>
                            <div class="title">{{title}}</div>
                        </a>
                    {{/foreach}}
                    {{!-- for the jquery api request for random posts --}}
                    <div id="list-of-posts-wide"></div>
                </div>   
            {{/get}}
        </div>
    </div>

</div>