

<article>
    <div class="section-card {{tag}}" data-state="{{slug}}">
        <div class="title">
            <a href="/tag/{{slug}}">{{disp-title}}</a>
        </div>

        <div class="post-listing">
            {{#get "posts" limit="4" filter="tag:{{slug}}" order="published_at desc"}}
                {{#foreach posts}}
                    <div class="row post">
                        {{!-- Make the first listing full width --}}
                        {{#if @first}}
                            <a href="{{url}}">
                                <div class="image col s12 m12 l12" style="background-image: url({{image}})"></div>
                                <div class="title col s12 m12 l12">{{title}}</div>
                            </a>
                        {{!-- Make subsequent listings horizontal --}}
                        {{else}}
                            <a href="{{url}}" class="valign-wrapper">
                                <div class="image col s5 m5 l5" style="background-image: url({{image}})"></div>
                                <div class="title col s7 m7 l7">{{title}}</div>
                            </a>
                        {{/if}}
                    </div>
                {{/foreach}}

            {{/get}}
        </div>

        <div class="more">
            <a href="/tag/{{slug}}">
                <i class="material-icons">arrow_forward</i>
                <span class="more-text"> more articles</span>
            </a>
        </div>
    </div>
</article>
