

<article>
    <div class="section-card">
        <div class="title">
            <a href="/tag/{{slug}}">{{disp-title}}</a>
        </div>

        <div class="post-listing">
            {{#get "posts" limit="5" filter="tag:{{slug}}" order="published_at desc"}}
                {{#foreach posts}}
                    <div class="post">
                        <a href="{{url}}">
                            <div class="image" style="background-image: url({{image}})"></div>
                            <div class="title">{{title}}</div>
                        </a>
                    </div>
                {{/foreach}}

            {{/get}}
        </div>

        <div class="more">
            <a href="/tag/{{slug}}">
                <i class="material-icons">arrow_forward</i>
                <span class="more-text"> more {{disp-title}}</span>
            </a>
        </div>

    </div>
</article>