{{!< default}}

{{#author}}
<article class="author-page">
    <header class="post-header">
    	<h1 class="post-title">about</h1>
		<img src="{{asset "/img/melodie-meigs-1.jpg"}}" alt="melodie meigs"/>
    </header>

    <section class="post-content">
    	<h2 id="whythisblog">why this blog?</h2>
    	<p>Years ago I realized that 90% of the information I searched for in my daily life came from others--personal blogs, pinterest, discussion forums--rather than from traditional news sources.  Since then, I've been sharing my experiences here to inspire you, pursue creative interests, and as a how-to for tutorials.</p>

    	<h2 id="whatyoucanfindhere">what you can find here</h2>
    	<p>I write articles to be long-lived references:</p>
			<ul>
				<li><strong><a href="http://patchworkandpebbles.com/tag/sports-fitness-recovery/">sports fitness &amp; recovery</a></strong>: kettlebell exercises, ACL surgery rehab</li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/career-gender-equality/">career &amp; gender equality</a></strong>: burnout, women, technology</li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/sewing/">sewing &amp; quilting</a></strong></li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/travel/">travel destinations</a></strong></li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/climbing/">rock climbing</a></strong>: training, climbing destinations</li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/diy-projects/">DIY home projects</a></strong></li>
				<li><strong><a href="http://patchworkandpebbles.com/tag/pregnancy-kids/">pregnancy & raising kids as a recreational athlete</a></strong></li>
			</ul>

		<h2>my story, the short</h2>
		<div class="timeline-item">
			<p>...I spent 8 years working at Google as an Engineering Program Manager</p>
			<img class="timeline-icon" src="{{asset "/img/google.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I have a B.S. Electrical Engineering from Rice University</p>
			<img class="timeline-icon" src="{{asset "/img/rice.jpg"}}"/>
		</div>
		<div class="timeline-spacer"></div>		
		<div class="timeline-item">
			<p>...I've been rock climbing since 2008, ticking climbs up to V9 and 5.12b</p>
			<img class="timeline-icon" src="{{asset "/img/climbing.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I've had two ACL reconstruction surgeries</p>
			<img class="timeline-icon" src="{{asset "/img/sad-face.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I've been dabbling in photography since 2004</p>
			<img class="timeline-icon" src="{{asset "/img/camera.jpg"}}" />
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p> ...I've spent over 9 months traveling the US and Canada in a van, exploring the outdoors and climbing</p>
			<img class="timeline-icon" src="{{asset "/img/camper-van.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p class="col s11 text">...I enjoy sewing handmade quilts, from patchwork to machine quilting</p>
			<img class="timeline-icon" src="{{asset "/img/sewing.png"}}"></a>
		</div>				

		<h2 id="mystorythelong">my story, the long</h2>
		<p>I grew up in <strong>Honolulu, Hawaii</strong> until I went to <strong>Rice University</strong> in Houston, TX. I graduated with an <strong>Electrical Engineering</strong> degree and then worked as a Systems Engineer for military satellite communications systems at <strong>Boeing</strong>.</p>
		<p>After 2 years, I wanted to work in the faster-paced consumer mobile market. I landed a job at <strong>Google</strong> as an Engineering Program Manager and spent 8 years there working on projects from TV Ads to YouTube to <strong>Android</strong>'s Google Play and Nexus hardware. I love piecing together the architecture and dependencies of an end-to-end product.</p>
		<img src="{{asset "/img/melodie-jeremy-fontainebleau.jpg"}}" alt="bouldering in fountainbleau"/>
		<p>During that time, I met my husband Jeremy at Planet Granite climbing gym, where you can still find us many days a week. I've been <strong>rock climbing</strong> since 2008, primarily bouldering. My most proud send has been <a href="https://www.youtube.com/watch?v=yDT8FuN5rhM">Clam Digger (V8/9)</a> at Castle Rock State Park. Jeremy has the FA and I may have the first FFA!</p>
		<p>In 2014, I took a bouldering fall at the gym and <strong>tore my ACL</strong>. I had ACL reconstruction surgery, but 9 months later, I tore the graft when getting back into bouldering. I had ACL reconstruction surgery #2 in 2016.  I've been healthy and even stronger since.</p>
		<p>I <strong>quit my job</strong> at Google in 2016 after feeling the Silicon Valley burn for 8 years. Since then, I've been focusing on my knee rehab, climbing, getting my cortisol levels back to normal, traveling, sewing and quilting, photography, and learning to be handier with house renovations. I've spent almost <strong>9 months on the road</strong> with my husband, Jeremy, racking up 35k miles across the US, enjoying the outdoors, national parks, and climbing.</p>

		<h2 id="photographyinquiries">photography inquiries</h2>
		<p>All photos are licensed and copyrighted to me unless given credit otherwise. I love inspiring people to travel and explore through my photos. If you'd like to use my photos, please contact me!</p>

    	<section class="contact-me" id="contact-me">
    		<img src="{{asset "/img/arrow-contact-me.jpg"}}" alt="arrow contact me" />
    		<p>patchworkandpebbles@gmail.com</p>
    	</section>
    </section>
</article>

{{/author}}