{{!< default}}

{{#author}}
<article class="author-page">
    <header class="post-header">
    	<h1 class="post-title">about</h1>
		<img src="{{asset "/img/melodie-meigs-1.jpg"}}" alt="melodie meigs"/>
    </header>

    <section class="post-content">
    	<h2 id="whythisblog">why this blog?</h2>
    	<p>Years ago I realized that 90% of the information I searched for in my daily life came from others--personal blogs, pinterest, discussion forums--rather than from traditional news sources.  Since then, I've been writing to inspire others, from fitness to kids to vanlife.</p>

		<h2>my story</h2>
		<div class="timeline-item">
			<p>...I have a B.S. Electrical Engineering from Rice University</p>
			<img class="timeline-icon" src="{{asset "/img/rice.jpg"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I spent 8 years working at Google as an Engineering Program Manager</p>
			<img class="timeline-icon" src="{{asset "/img/google.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>		
		<div class="timeline-item">
			<p>...I've been rock climbing since 2008, ticking climbs up to V9 and 5.12b</p>
			<img class="timeline-icon" src="{{asset "/img/climbing.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I've had two ACL reconstruction surgeries</p>
			<img class="timeline-icon" src="{{asset "/img/sad-face.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I've been dabbling in photography since 2004</p>
			<img class="timeline-icon" src="{{asset "/img/camera.jpg"}}" />
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p> ...I've spent over 9 months traveling the US and Canada in a van with my husband, exploring the outdoors and climbing</p>
			<img class="timeline-icon" src="{{asset "/img/camper-van.png"}}"/>
		</div>
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I enjoy sewing handmade quilts, from patchwork to machine quilting</p>
			<img class="timeline-icon" src="{{asset "/img/sewing.png"}}"></a>
		</div>	
		<div class="timeline-spacer"></div>
		<div class="timeline-item">
			<p>...I had a very active pregnancy, and now enjoy all my hobbies with my #cragbaby son!</p>
			<img class="timeline-icon" src="{{asset "/img/baby.png"}}"></a>
		</div>				

		<h2 id="photographyinquiries">photography inquiries</h2>
		<p>All photos are licensed and copyrighted to me unless given credit otherwise. I love inspiring people to travel and explore through my photos. If you'd like to use my photos, please contact me!</p>

    	<section class="contact-me" id="contact-me">
    		<img src="{{asset "/img/arrow-contact-me.jpg"}}" alt="arrow contact me" />
    		<p>patchworkandpebbles @gmail.com</p>
    	</section>
    </section>
</article>

{{/author}}