<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    {{!-- ***replace with minimized file! *** --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/vendor/materialize.css"}}"  media="screen,projection"/>
    {{!-- *** replace with minimized file! *** --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/application.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {{!-- AdSense regular ad slots --}}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {{!-- Amazon mobile pop-over popup ads --}}
    <script type="text/javascript">
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "patchworkandp-20";
        amzn_assoc_linkid = "32a6a05f0c8f99fa3ed0327799f77be7";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
    </script>
    <script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>

</head>

<body class="{{body_class}}">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{navigation}}
    <main role="main" class="page-content">
      {{{body}}}
    </main>
    {{> footer}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/vendor/fitvids.js"}}"></script>
    
    {{!-- For materialize --}}
    <script type="text/javascript" src="{{asset "js/vendor/bin/materialize.min.js"}}"></script>

    {{!-- Everything for page ready() --}}
    <script type="text/javascript">
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
            $(".post-content").fitVids();
            // Functions for scroll events. Check every 250ms instead of every pixel scroll. Less expensive to compute every function.
            var didScroll;
            $(document).scroll(function() {
                didScroll = true;
            });
            // Set the interval to 250ms, and call scroll functions, and reset boolean
            setInterval (function(){
                if(didScroll) {
                    showHideSubscribePopup();
                    showHideMobileNav();
                    didScroll = false;
                }
            }, 250);
            // For email subscribe popup
            if (window.location.href.includes("utm_medium=email") == false) {
                function showHideSubscribePopup () {
                    // y_pos is where the user is scrolled to
                    var y_pos = window.pageYOffset; 
                    // y_pos_break is where classes are added or removed to hide element
                    var y_pos_break = $('#post-content').height() / 2;
                    if (y_pos<y_pos_break) {
                      $("#email-subscribe-popup").addClass('hide');
                    }
                    else {
                      $("#email-subscribe-popup").removeClass('hide');
                    }
                }
            }
            // For mobile nav header
            // Ref: https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c
            var lastScrollTop = 0;
            var delta=5;
            var navbarHeight = 70;
            function showHideMobileNav() {
                // Current scroll location
                var currScroll = $(this).scrollTop();
                // If they haven't scrolled more than delta, return and don't do anything
                if(Math.abs(lastScrollTop-currScroll) <= delta) {
                    return;
                }
                //If they scrolled past the navbar, remove fixed class. Required so you never see what's "behind" the navbar
                if(currScroll>lastScrollTop && currScroll>navbarHeight){
                    $('#nav-small-med').removeClass('navbar-fixed');
                }
                //Else if user didn't scroll past document (possible on a mac)
                else {
                    if(currScroll + $(window).height() < $(document).height()) {
                        $('#nav-small-med').addClass('navbar-fixed');
                    }
                }
                lastScrollTop = currScroll;
            }
          });

    </script>

    {{!-- For masonry layout for index and tag pages https://masonry.desandro.com/ --}}
    <script type="text/javascript" src="{{asset "js/vendor/masonry.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/vendor/imagesloaded.js"}}"></script>
    <script type="text/javascript">
      var $grid = $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true, 
        gutter: '.gutter-sizer',
        stagger: 30
      });
      // layout Masonry after each image loads
      $grid.imagesLoaded().progress( function() {
        $grid.masonry();
      });  
    </script>

    {{!-- Masonry layout for home page --}}
    <script type="text/javascript">
      var $grid = $('.grid-home').masonry({
        itemSelector: '.grid-item-home',
        columnWidth: '.grid-sizer-home',
        percentPosition: true, 
        gutter: '.gutter-sizer-home',
        horizontalOrder: true,
        stagger: 30
      });
      // layout Masonry after each image loads
      $grid.imagesLoaded().progress( function() {
        $grid.masonry();
      });  
    </script>

    {{!-- For button close on subscribe popup, remove element from DOM --}}
    <script type="text/javascript">
      function closeMe(elementToClose) {
        $(elementToClose).remove();
      }
    </script>

</body>
</html>
