<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

    {{!-- Styles'n'Scripts --}}
    {{!-- *** replace with minimized file! *** --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/application.min.css"}}" />

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    {{!-- Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Quicksand:300,400,500,700|PT+Sans+Narrow:400,700|PT+Serif:400,400i,700,700i|PT+Sans:400,400i,700,700i|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    {{!-- AdSense regular ad slots --}}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body class="{{body_class}} site">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{navigation}}
    <main role="main" class="page-content" id="page-content">
      {{{body}}}
    </main>
    {{> footer}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/vendor/fitvids.min.js"}}"></script>
    
    {{!-- Get all tags for this post and call RelatedPosts --}}
    <script type="text/javascript" src="{{asset "js/application.js"}}"></script>

    {{!-- Everything for page ready() --}}
    <script type="text/javascript">
        $( document ).ready(function(){
            $(".post-content").fitVids();
        });
    </script>

</body>
</html>
