{{!< default}}
<div class="home-content-wrapper">
    <section class="list-of-categories">
        <div class="category-list-title">A personal blog.<br>Find inspiration.<br>Find your passion.</div>
        <span><a href="/tag/sports" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/fitness.svg#fitness"></use>
            </svg>
            <div class="category-title">Sports Fitness & Recovery</div>
        </a></span>
        <span><a href="/tag/pregnancy-kids" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/kids.svg#kids"></use>
            </svg>
            <div class="category-title">Pregnancy & Kids</div>
        </a></span>
        <span><a href="/tag/quilting" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/quilting.svg#quilting"></use>
            </svg>
            <div class="category-title">Quilting & Sewing</div>
        </a></span>
        <span><a href="/tag/travel" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/travelrv.svg#travelrv"></use>
            </svg>
            <div class="category-title">Travel Destinations</div>
        </a></span>
        <span><a href="/tag/climbing" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/rockclimbing.svg#rockclimbing"></use>
            </svg>
            <div class="category-title">Rock Climbing</div>
        </a></span>
        <span><a href="/tag/diy-projects" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/diyprojects.svg#diyprojects"></use>
            </svg>
            <div class="category-title">DIY Projects</div>
        </a></span>
        <span><a href="/tag/career-gender-equality" class="category-listing">
            <svg class="category-list-icon">
                <use xlink:href="/partials/svg/career.svg#career"></use>
            </svg>
            <div class="category-title">Career & Gender Equality</div>
        </a></span>
        <a href="/page/2" class="category-listing">
            <div class="category-title">.. All Articles ..</div>
        </a>
    </section>

    {{>most-recent-posts}}

    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/sports"><div class="category-title">Sports Fitness & Recovery</div>
                <svg><use xlink:href="/partials/svg/fitness.svg#fitness"></use></svg>
                <div class="category-description">on kettlebells, ACL reconstruction surgery, and rock climbing training</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:sports" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/sports"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/pregnancy-kids"><div class="category-title">Pregnancy & Kids</div>
                <svg><use xlink:href="/partials/svg/kids.svg#kids"></use></svg>
                <div class="category-description">deep-dives into fit pregnancy and travel with a #cragbaby</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:pregnancy-kids" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/pregnancy-kids"><i class="fas fa-plus-circle"></i></a></span></a>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/quilting"><div class="category-title">Quilting & Sewing</div>
                <svg><use xlink:href="/partials/svg/quilting.svg#quilting"></use></svg>
                <div class="category-description">creating with thread + fabric + sewing machine</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:quilting" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/quilting"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/travel"><div class="category-title">Travel Locations</div>
                <svg><use xlink:href="/partials/svg/travelrv.svg#travelrv"></use></svg>
                <div class="category-description">photo guides for the outdoor enthusiast</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:travel" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/travel"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/climbing"><div class="category-title">Rock Climbing</div>
                <svg><use xlink:href="/partials/svg/rockclimbing.svg#rockclimbing"></use></svg>
                <div class="category-description">crag beta and training for the rock crusher</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:climbing" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/climbing"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/diy-projects"><div class="category-title">DIY Projects</div>
                <svg><use xlink:href="/partials/svg/diyprojects.svg#diyprojects"></use></svg>
                <div class="category-description">how-to guides for the enterprising DIY-yer</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:diy-projects" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/diy-projects"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <section class="category-banner-wrapper">
        <section class="category-banner">
            <div class="category-banner-left">
                <a href="/tag/career-gender-equality"><div class="category-title">Career & Gender Equality</div>
                <svg><use xlink:href="/partials/svg/career.svg#career"></use></svg>
                <div class="category-description">a point of view from a female engineer in silicon valley</div>
            </div>
            <div class="category-banner-right list-of-posts">
                {{#get "posts" limit="3" filter="tag:career-gender-equality" order="published_at desc"}}
                    {{#foreach posts}}
                        <a href="{{url}}"><div class="post-card">
                            <div class="post-image" style="background-image: url({{image}})"></div>
                            <div class="post-title">{{title}}</div>
                        </div></a>
                    {{/foreach}}
                {{/get}}
            </div>
        </section>
        <span class="more-on"><a href="/tag/career-gender-equality"><i class="fas fa-plus-circle"></i></a></span>
    </section>
    <div class="icons-credit">...icons on this page made by <a href="http://www.freepik.com" title="Freepik">Freepik,</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY...</a></div>
</div>
