{{!< default}}

{{navigation}}


<main>
    <div class="container">
        <div class="row">
            {{!-- The main content of posts --}}
            <div class="col s12 m9 l10">
                <header class="index-header grey-text text-darken-1 center-align">all posts</header>
                {{#get "posts" limit="all" include="tags"}}
                    {{#foreach posts}}
                        <article class="post-box hoverable col s6 l4" onclick="goToArticle({{url}})">
                            <img class="z-depth-2 responsive-img" src="{{image}}" />
                            <header class="post-title grey-text text-darken-3">
                                {{title}}
                            </header>
                            <footer class="post-meta grey-text center-align">
                                {{#if tags}}
                                    &nbsp;on&nbsp;{{tags}}
                                {{/if}}
                                {{tags.name}}
                            </footer>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>

            {{!-- The sidebar --}}
            <div class="col m3 l2 hide-on-small-only">
                <h2>sidebar</h2>
                {{!-- <img class="responsive-img" src="http://placehold.it/350x150"> --}}
                <p> This is some side panel text. This is some side panel text. This is some side panel text. This is some side panel text. </p>
            </div>
        </div>
    </div>
</main>


{{>footer}}


<script>
    function goToArticle(url){
        window.location=url;
    }
</script>