{{!< default}}

{{navigation}}

<main>
    <div class="container data-target">
        <div class="row">
            {{!-- The main content of posts --}}
            <div class="col s12 m12 l9">
                <header class="index-header grey-text text-darken-1 center-align">all posts</header>
            </div>

            <div class="col s12 m12 l9">
                {{#get "posts" limit="all" include="tags"}}
                    {{#foreach posts}}
                        <article class="post-box hoverable col s6 m6 l4" onclick="goToArticle({{url}})">
                            {{#if image}}
                                <img class="z-depth-2 responsive-img" src="{{image}}">
                            {{else}}
                                <img class="z-depth-2 responsive-img" src="{{asset "/img/grey-tile.jpg"}}">
                            {{/if}}
                            <div class="post-box-content">
                                <header class="post-title grey-text text-darken-1">
                                    {{title}}
                                </header>
                                <footer class="post-meta center-align">
                                    {{#if tags}}
                                        &nbsp;on&nbsp;&nbsp;{{tags separator="  |  "}}
                                    {{/if}}
                                </footer>
                            </div>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>

            {{!-- The sidebar, show on large only --}}
            <div class="card-light col l3 hide-on-med-and-down">
                {{>sidebar}}
            </div>

            <div class="card-dark col s12 m12 hide-on-large-only">
                {{>categories-card}}
            </div>

            <div class="col s12 hide-on-large-only">
                {{>ad-card}}
            </div>    
                    
            {{!-- Add back once have email subscribe and ad backup --}}
{{!--             <div class="card-dark col s12 m12 hide-on-large-only">
                {{>subscribe-card}}
            </div> --}}
        </div>
    </div>
</main>


{{>footer}}


<script>
    function goToArticle(url){
        window.location=url;
    }
</script>