{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <article class="{{post_class}} post-content-wrapper">
        <header class="post-header">
            {{#if image}}
                <div class="feature-image-wrapper">
                    <img class="feature-image" src="{{image}}"></img>
                </div>
                <div class="post-data-wrapper move-title-up">
            {{else}}
                <div class="post-data-wrapper">
            {{/if}}
                    <h1 class="post-title">{{title}}</h1>
                </div>
        </header>

        <section class="post-content" id="post-content">
            {{content}}
        </section>
    </article>  
{{/post}}