{{!-- "< default" means - insert everything in this file into 
the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{!-- The off-canvas-wrapper class hides scroll bars when the sidebar is opened --}}
<div class="off-canvas-wrapper">
    {{!-- All of the content that gets shifted when the nav opens lives in here --}}
    <div class="off-canvas-content" data-off-canvas-content>

        {{navigation}}

        {{!-- The post --}}
        {{!-- First, outer container for the post title, date, paragraphs --}}
        <div class="post-content row" role="main">
            <main class="{{post_class}} small-10 column">
                {{!-- The title, date, tags --}}
                <h1 class="post-title-postpage">{{title}}</h1>

                <div class="post-meta" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}
                    {{#if tags}}
                        <span class="italicized-words">&ensp;on &ensp;</span>
                        <span class="post-tag-taller"> {{tags}} </span>
                    {{/if}}
                </div> 

                {{content}}
                {{>social}}

                {{!-- divider --}}
                <div class="divider">
                </div>

            </main>
            {{>sidebar}}
        </div>

        {{>footer}}
    </div>
</div>


{{/post}}
