{{!< default}}

    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2599762387787801",
          enable_page_level_ads: true
     });
    </script>

{{#post}}
<article class="{{post_class}} post-container">
    {{#if image}}
        <div class='feature-image-wrapper'><img class="feature-image" src="{{image}}"></img></div>
            <header class="post-header">
        {{else}}
            <header class="post-header move-title-down">
        {{/if}}
        <h1 class="post-title">{{title}}</h1>
        <div class="post-meta-wrapper">
            <div class="post-tags">{{tags}}</div>
            <time class="post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
        </div>
    </header>
    <section class="post-content" id="post-content">
        {{content}}
    </section>

    <aside class="sidebar">
        {{>ad-card-amazon}}
        {{>related-posts class="list-of-posts-sidebar"}}
        {{>email-subscribe}}
        {{>ad-card-google}}
    </aside> 

    <aside class="post-footer">
        {{!--{{>ad-card-google}}--}}        
        {{>related-posts class="list-of-posts-footer"}}
    </aside>

</article>


<script>
    $(document).ready(function () {
        // Get the tags from this post and pass to getTagsRelatedPostsTags
        $.get(
            ghost.url.api('posts', {limit:'all', filter:"id:{{id}}", include:"tags"})
        ).done(getTagsRelatedPostsTags);
    });
</script>

{{/post}}