{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{navigation}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <div class="row hide-on-med-and-down">
            <div class="col s12 m12 l12 feature-image-wrapper">
                <img class="feature-image" src="{{image}}"></img>
            </div>
        </div>

        <div class="row">
            <header class="col s12 m12 l10 offset-l1 post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time class="post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
                </section>
            </header>
        </div>

        <div class="row">
            <section class="col s12 m8 l6 offset-m2 offset-l2 post-content">
                {{content}}
            </section>
        </div>

        <div class="row">
            <footer>
            	{{!-- add stuff --}}
            </footer>
        </div>
    </article>
</main>

{{>footer}}

{{/post}}