{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
    <article class="{{post_class}}">
    {{!-- If there's a featured image, display it and move the title down --}}
    {{#if image}}
        <div class="row hide-on-small-and-down">
            <div class="col s12 m12 l12 feature-image-wrapper">
                <img class="feature-image" src="{{image}}"></img>
            </div>
        </div>
        <div class="row">
            {{#if tags limit="1"}}
                {{#foreach tags limit="1"}}
                <header class="col s12 m10 l10 offset-m1 offset-l1 post-header move-title-up" data-state={{slug}}>
                {{/foreach}}
            {{else}}
                <header class="col s12 m10 l10 offset-m1 offset-l1 post-header move-title-up">
            {{/if}}
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <div class="col s12 m6 l6">
                        <div class="post-tags">{{tags}}</div>
                    </div>
                    
                    <div class="col s12 m6 l6">
                        <time class="post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
                    </div>
                </section>
            </header>
        </div>

    {{!-- If there's no image, don't display it, and don't move the title --}}
    {{else}}
        <div class="row">
            {{#if tags limit="1"}}
                {{#foreach tags limit="1"}}
                <header class="col s12 m10 l10 offset-m1 offset-l1 post-header" data-state={{slug}}>
                {{/foreach}}
            {{else}}
                 <header class="col s12 m10 l10 offset-m1 offset-l1 post-header">
            {{/if}}
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <div class="col s12 m12 l6">
                        <div class="post-tags">{{tags}}</div>
                    </div>
                    
                    <div class="col s12 m12 l6">
                        <time class="right post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
                    </div>
                </section>
            </header>
        </div>
    {{/if}}

    {{!-- Post Content and Sidebar --}}
    <div class="row">
        <section class="col s12 m8 l6 offset-m2 offset-l1 post-content" id="post-content">
            {{content}}
        </section>
        <section class="col s12 l3 offset-l1 hide-on-med-only sidebar-content">
            {{> sidebar}}
        </section>
    </div>

    {{!-- Email Popup --}}
    {{> email-subscribe-popup}}

    {{!-- Anything full width after page-content --}}
    <div class="row hide-on-small-and-down">
        <div class="col m12 l10 offset-l1">
            {{> related-posts-wide}}
            <div class="ad-block" id="my-google-ads-banner-bottom"></div>
            {{> ad-card adlocation="banner-bottom"}}
        </div>
    </div>
    </article>



    {{!-- Get all tags for this post and call RelatedPosts --}}
    <script>
        $('.my-google-ads').each(function() {
            $.get(ghost.url.api('posts', {limit:'1', filter:"id:{{id}}", include:"tags"})).done(onSuccess);
        });

        function onSuccess(data) {
            var result = data.posts[0].tags[0].slug;
        }
    </script>
    <script type="text/javascript" src="{{asset "js/relatedPosts.js"}}">    </script>
    <script>
        // Grab all posts, filtered by tags
        $(document).ready(function () {
            // Get all the posts with these tags, minus the current post id
            var tags = $.get(
                ghost.url.api('posts', {limit:'all', filter:"id:{{id}}", include:"tags"})
            ).done(getTagsRelatedPostsTags);
        });
    </script>
        
{{/post}}