{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{navigation}}

<main>
{{!-- Container sets the screen width --}}
<div class="container">
    <div class="row">
        <div class="col l3 hide-on-med-and-down card-light">
            {{>sidebar}}
        </div>

        <article class="col s12 m12 l9">
            <header class="post-header-container">
                <h1 class="post-title grey-text text-darken-1">{{title}}</h1>
                <div class="post-meta grey-text">
                    <p>
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                        {{#if tags}}
                            &nbsp;on&nbsp;&nbsp;<span class="post-meta-tags grey-text">{{tags}}</span>
                        {{/if}}
                    </p>
                </div>

                <div class="divider"></div>
            </header>

            <section class="post-content grey-text text-darken-4">
                {{content}}
            </section>

            <footer> 
                <div class="share-love">
                    <div class="grey-text grey-lighten-4">share some love&nbsp;</div>
                    <div>
                        <img class="share-post-icon" src="{{asset "/svg/facebook.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/email.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/linkedin.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/twitter.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/pinterest.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/google_plus.svg"}}">
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    {{#prev_post}}
                        <div class="col s12 m12 l6">
                            <a href="{{url}}" class="valign-wrapper post-box-prev-next card hoverable horizontal">
                                <div class="valign card-image">
                                    <img src="{{image}}"/>
                                </div>
                                <div class="valign card-stacked">
                                    <p class="card-title">Previous Post</p>
                                    <p class="card-content grey-text">{{title}}</p>
                                </div>  
                            </a>
                        </div>
                    {{/prev_post}}

                    {{#next_post}}
                        <div class="col s12 m12 l6">
                            <a href="{{url}}" class="valign-wrapper post-box-prev-next card hoverable horizontal">
                                <div class="valign card-stacked">
                                    <p class="card-title">Next Post</p>
                                    <p class="card-content grey-text">{{title}}</p>
                                </div>  
                                <div class="valign card-image">
                                    <img src="{{image}}"/>
                                </div>
                            </a>
                        </div>
                    {{/next_post}}

                    <div class="col s12 hide-on-med-and-up card-dark">
                        {{>categories-card}}
                    </div>

                    <div class="col s12 hide-on-med-and-up card-dark">
                        {{>subscribe-card}}
                    </div>
                </div>

            </footer>
        </article>
    </div>
</div>
</main>

{{>footer}}

{{/post}}
