{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

    <article class="{{post_class}}">

        <div class="row hide-on-small-and-down">
            <div class="col s12 m12 l12 feature-image-wrapper">
                <img class="feature-image" src="{{image}}"></img>
            </div>
        </div>

        <div class="row">
            <header class="col s12 m10 l10 offset-m1 offset-l1 post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <div class="col s12 m12 l6">
                        <div class="post-tags">{{tags}}</div>
                    </div>
                    
                    <div class="col s12 m12 l6">
                        <time class="right post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
                    </div>
                </section>
            </header>
        </div>

        <div class="row">
            <section class="col s12 m8 l6 offset-m2 offset-l1 post-content">
                {{content}}
            </section>

            <section class="col s12 m6 l3 offset-m3 offset-l1">
                {{> sidebar}}
            </section>
        </div>


        <div class="col l12 hide-on-med-and-down">
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-2599762387787801"
                 data-ad-slot="7650868943"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </article>

{{/post}}