{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{navigation}}

<main>
{{!-- Container sets the screen width --}}
<div class="container data-target">
    <div class="row">

        {{!-- <article class="post-container col s12 m12 l9 push-l3"> --}}
        <article class="post-container col s12 m12 l9 push-l1">
            <header class="post-header-container">
                <h1 class="post-title grey-text text-darken-3">{{title}}</h1>
                <div class="post-meta grey-text">
                    <p>
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                        {{#if tags}}
                            &nbsp;on&nbsp;&nbsp;<span class="post-meta-tags grey-text">{{tags separator=" | "}}</span>
                        {{/if}}
                    </p>
                </div>

                <div class="divider"></div>
            </header>

            <section class="post-content grey-text text-darken-4">
                {{content}}
            </section>

            <footer> 

                <div class="row">
                    {{#prev_post}}
                        <div class="col s12 m12 l6">
                            <a href="{{url}}" class="valign-wrapper post-box-prev-next card hoverable horizontal" onclick="ga('send', 'event', 'Prev Next post', 'click', 'Previous');">
                                <div class="valign card-image">
                                    <img src="{{image}}"/>
                                </div>
                                <div class="valign card-stacked">
                                    <p class="card-title">Previous Post</p>
                                    <p class="card-content grey-text">{{title}}</p>
                                </div>  
                            </a>
                        </div>
                    {{/prev_post}}

                    {{#next_post}}
                        <div class="col s12 m12 l6">
                            <a href="{{url}}" class="valign-wrapper post-box-prev-next card hoverable horizontal" onclick="ga('send', 'event', 'Prev Next post', 'click', 'Next');">
                                <div class="valign card-stacked">
                                    <p class="card-title">Next Post</p>
                                    <p class="card-content grey-text">{{title}}</p>
                                </div>  
                                <div class="valign card-image">
                                    <img src="{{image}}"/>
                                </div>
                            </a>
                        </div>
                    {{/next_post}}

{{!--                     <div class="share-love">
                        {{#if tags}}
                            <div class="read-more-articles">
                            more articles on <span class="read-more-articles-tags">{{tags separator=" | "}}</span>
                            </div>
                        {{/if}}
                    </div> --}}

                    <div class="col s12 m12 l12">
                        <!-- Post page -->
                        <ins class="adsbygoogle"
                             style="display:block"
                             data-ad-client="ca-pub-2599762387787801"
                             data-ad-slot="7650868943"
                             data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>

                    <div class="col s12 hide-on-large-only card-dark">
                        {{>categories-card}}
                    </div>
                    
                    <div class="col s12 hide-on-large-only">
                        {{>ad-card}}
                    </div>
                    
                </div>
            </footer>
        </article>

        {{!-- <div class="col l3 pull-l9 hide-on-med-and-down card-dark"> --}}
        <div class="col l3 hide-on-med-and-down card-dark">
            {{>sidebar}}
        </div>

    </div>
</div>
</main>

{{>footer}}

{{/post}}
