{{!-- "< default" means - insert everything in this file into the {{{body}}} 
of the default.hbs template, containing the blog header/footer. --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{navigation}}

{{!-- Container sets the screen width --}}
<div class="container">
    <div class="row">
        <div class="col m3 l2 hide-on-small-only">
            {{>sidebar}}
        </div>

        <article class="col s12 m9 l10">
            <header class="post-header-container">
                <h1 class="post-title grey-text text-darken-1">{{title}}</h1>
                <div class="post-meta grey-text">
                    <p>
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                        {{#if tags}}
                            &nbsp;on&nbsp;&nbsp;<span class="post-meta-tags grey-text">{{tags}}</span>
                        {{/if}}
                    </p>
                </div>

                <div class="divider"></div>
            </header>

            <section class="post-content grey-text text-darken-2">
                {{content}}
            </section>

            <footer> 
                <div class="share-love">
                    <p class="grey-text grey-lighten-4">share some love&nbsp;</p>
                    <div>
                        <img class="share-post-icon" src="{{asset "/svg/facebook.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/email.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/linkedin.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/twitter.svg"}}">&nbsp;
                        <img class="share-post-icon" src="{{asset "/svg/google_plus.svg"}}">
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    {{#prev_post}}
                        <div class="col s12 m6">
                            <div class="card hoverable horizontal">
                                <div class="card-image">
                                    <img src="{{image}}">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-title">
                                        <p>Next Post</p>
                                    </div>
                                    <div class="card-content">
                                        <p>{{title}}</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    {{/prev_post}}

                    {{#next_post}}
                        <div class="col s12 m6">
                            <div class="card hoverable horizontal">
                                <div class="card-stacked">
                                    <div class="card-title">
                                        <p>Next Post</p>
                                    </div>
                                    <div class="card-content">
                                        <p>{{title}}</p>
                                    </div>
                                </div>  
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img src="{{image}}">
                                </div>
                            </div>
                        </div>
                    {{/next_post}}
                </div>

            </footer>
        </article>
    </div>
</div>

{{>footer}}

{{/post}}
