{{!< default}}

{{#post}}
<article class="{{post_class}} post-container">
    {{#if image}}
        <div class='feature-image-wrapper'><img class="feature-image" src="{{image}}"></img></div>
            <header class="post-header">
        {{else}}
            <header class="post-header move-title-down">
        {{/if}}
        <h1 class="post-title">{{title}}</h1>
        <div class="post-meta-wrapper">
            <div class="post-tags">{{tags}}</div>
            <time class="post-date">updated {{date updated_at format="MM.DD.YYYY"}}</time>
        </div>
    </header>
    <section class="post-content" id="post-content">
        {{content}}
    </section>
</article>

<aside class="post-footer">
    {{!-- {{>ad-card amazon_uuid="9feef2bb-67cb-48e6-b2e8-43234a8ca829"}} --}}
    {{>related-posts}}
</aside>



<script>
    $(document).ready(function () {
        // Get the tags from this post and pass to getTagsRelatedPostsTags
        $.get(
            ghost.url.api('posts', {limit:'all', filter:"id:{{id}}", include:"tags"})
        ).done(getTagsRelatedPostsTags);
    });
</script>

{{/post}}