{{!-- Insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- For masonry layout for index and tag pages https://masonry.desandro.com/ --}}
<script type="text/javascript" src="{{asset "js/vendor/masonry.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/vendor/imagesloaded.min.js"}}"></script>

{{#tag}}

<header>
	<div class="tag-page-header">
	    <div class="tag-page-num-posts">
	    	- {{plural ../pagination.total empty='articles' singular='% article' plural='% articles'}} in {{name}} -
	    </div>
	    <h2 class="tag-page-description">
        	{{description}}
	    </h2>
	</div>
</header>


{{!-- The main content area --}}
<div class="tag-content grid">
	{{#get "posts" filter="tag:{{slug}}" limit="all"}}
        {{#foreach posts}}
            <div class="grid-item">
            	{{!-- empty element to define responsive widths --}}
            	<div class="grid-sizer"></div>
            	<div class="gutter-sizer"></div>
            	 {{> "post-card"}}
            </div>
        {{/foreach}}
    {{/get}}
</div> 


{{!--For Masonry--layout Masonry after each image loads --}}
<script>
  $('.grid').imagesLoaded().progress( function() {
    new Masonry('.grid', {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        percentPosition: true, 
        gutter: '.gutter-sizer',
        stagger: 20
      });
    });
</script>

{{/tag}}
