{{!-- insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#tag}}

{{navigation}}
<main>
    <div class="container data-target">
        <div class="row">

            <div class="col s12 m12 l9">
                <header>
                    <h1 class="index-header grey-text text-darken-1 center-align">
                        {{name}}
                    </h1>
                    <h2 class="index-subheader grey-text center-align">
                        {{description}}
                    </h2>
                    <div class="divider"></div>
                    <h3 class="index-count grey-text center-align">
                        - {{../pagination.total}} posts in category -
                    </h3>
                </header>
            </div>

            <div class="col s12 m12 l9">
                {{#get "posts" filter="tag:{{name}}"}}
                    {{#foreach posts}}
                        <article class="post-box hoverable col s6 m6 l4">
                            <a href={{url}}>
                                <img class="z-depth-2 responsive-img" src="{{image}}">
                                <header class="post-title grey-text text-darken-1">
                                    {{title}}</header>
                            </a>
                        </article>
                    {{/foreach}}
                {{/get}}
            </div>

            {{!-- The sidebar --}}
            <div class="card-light col l3 hide-on-med-and-down">
                {{>sidebar}}
            </div>

            <div class="card-dark col s12 m12 hide-on-large-only">
                {{>categories-card}}
            </div>

            <div class="col s12 hide-on-large-only">
                {{>ad-card}}
            </div>

            {{!-- Add back once have email subscribe and ad backup --}}
{{!--             <div class="card-dark col s12 m12 hide-on-large-only">
                {{>subscribe-card}}
            </div> --}}
        </div>
    </div>
</main>

{{>footer}}

{{/tag}}
